body{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    background-color: white;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-shadow: 0 10px 50px #858585;
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    row-gap: 30px;
}